@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  background-color: bisque;
  font-family: "Noto Sans";
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  &::visited {
    text-decoration: none;
  }
}
